# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Local Netlify folder
.netlify

# Editor directories and files
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# System files
Thumbs.db

# Environment variables
.env
.env*.local
!.env.local.example

# Firebase
# If you're using Firebase emulators, you might want to ignore these
# firebase-debug.log
# firebase-debug.*.log
# firestore-debug.log
# ui-debug.log
# functions/lib/ # If you compile TS to JS in a 'lib' folder for Firebase Functions

# Genkit (example, adjust if you have specific genkit output files)
# .genkit/
# .genkit-cache/

# Service account keys (IMPORTANT)
scripts/serviceAccountKey.json
